.project-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px 0;
}
.project-description .title {
  align-self: flex-start;
}
.project-img {
  text-align: center;
}
.project-img img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.project-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
  .project-description {
    max-width: 450px;
  }
  .project.par .project-img {
    order: 2;
  }
  .project-img img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .project-buttons {
    flex-direction: row;
  }
}
